form{
    background-color: rgb(247, 231, 242);
    border-radius: 7px;
  
    width: 100%;
    padding: 15px;
   
}
button{
    margin-left:600px;
    margin-bottom: 30px;
}
h2{
    margin-top: 50px;
}
