
body {
  background-color: rgb(231, 249, 255);
}

div {
  margin-top: 50px;
  margin-left: 17%;
    width: 60%;
  
  }

  .table {
    background-color: rgb(255, 250, 235);
    border-radius: 5px;
  }
  .ingredientes {
    background-color: rgb(248, 202, 200);
    border-radius: 5px;
  }

.input-group {
  margin-top: -10px;
  width: 118%;
  
}

.form-select {
  width: 5%;
  margin-right: 20px;
  display: table-cell;
    float: left;
}

.buttons{
  margin-top: 10px;
  margin-right: 0px;
}